@import 'colors.sass'

.button
  padding: 15px 10px
  border: 2px solid $font-color
  border-radius: 10px
  cursor: pointer
  display: inline-block
  font-weight: 800
  transition: border-color 200ms
  &:hover
    border-color: $hover-color
