@import './colors.sass'

.page.page-newofffers
  width: 100%
  display: flex
  .single-card
    .title
      font-size: 1.5rem
      letter-spacing: .03rem
    .line
      width: 75%
      height: 1px
      background-color: $line-color
      margin: 5px auto 10px
    form
      text-align: left
      label
        width: 100%
        font-size: 1.1rem
      .button-wrapper
        width: 100%
        display: flex
        .button
          margin: 10px auto 0
